{% extends 'layout.html' %}
{% load django_bootstrap5 i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
  <div class="container mt-4">
    <small><a href="{% url 'create_user' %}">Создать пользователя</a></small>
  <h1>Список пользователей</h1>
  {% for user in users %}
    <h2><a class="link" href="{% url 'detail_user' user.id %}">
      {{ user.name }}</a>
    </h2>
    <a href="{% url 'update_user' user.id %}">Редактировать</a>
    <!-- BEGIN (write your solution here) -->
    <form action="{% url 'delete_user' user.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
    </form>
    <!-- END -->
  {% endfor %}
  </div>
{% endblock content %}