{% extends 'layout.html' %}
{% load django_bootstrap5 i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
  <div class="container mt-4">
    <small><a href="{% url 'users_create' %}">Создать пользователя</a></small>
  <h1>Список категорий статей</h1>
  {% for user in users %}
    <h2><a class="link" href="{% url 'users_detail' user.id %}">
      {{ user.name }}</a>
    </h2>
    <a href="{% url 'users_update' user.id %}">Редактировать</a>
    <!-- BEGIN (write your solution here) -->
    <form action="{% url 'users_delete' user.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
    </form>
    <!-- END -->
  {% endfor %}
  </div>
{% endblock content %}