{% load django_bootstrap5 i18n %}
{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ml-1">
  <div class="container">
    <a class="navbar-brand" href="/">{% trans "Task Manager" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <form method="get" action="{% url 'users' %}" style="display:inline;">
                  <button type="submit" class="nav-link btn btn-link m-1">{% trans "Users" %}</button>
              </form>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <form method="get" action="{% url 'statuses' %}" style="display:inline;">
                  <button type="submit" class="nav-link btn btn-link m-1">{% trans "Statuses" %}</button>
              </form>
            </li>

            <li class="nav-item">
              <form method="get" action="{% url 'labels' %}" style="display:inline;">
                  <button type="submit" class="nav-link btn btn-link m-1">{% trans "Labels" %}</button>
              </form>
            </li>

            <li class="nav-item">
              <form method="get" action="{% url 'tasks' %}" style="display:inline;">
                  <button type="submit" class="nav-link btn btn-link m-1">{% trans "Tasks" %}</button>
              </form>
            </li>

            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="nav-link btn btn-link m-1">{% trans "Log Out" %}</button>
              </form>
            </li>
            {% else %}

            <li class="nav-item">
              <form method="get" action="{% url 'login' %}" style="display:inline;">
                  <button type="submit" class="nav-link btn btn-link m-1">{% trans "Login" %}</button>
              </form>
            </li>

            <li class="nav-item">
              <form method="get" action="{% url 'create_user' %}" style="display:inline;">
                  <button type="submit" class="nav-link btn btn-link m-1">{% trans "Register" %}</button>
              </form>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
